@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
        </div>

        <article class="content px-4">
            @Body
        </article>

    <footer class="footer">
        <div class="footer-info">
            <p class="tag">&copy; 2023 My Blazor App</p>
            <img class="outlook-icon" src="images/outlook_icon.png" alt="Outlook Icon" height="30" width="30">
            <a href="mailto:domonic.pacelli@outlook.com">Email</a>
            <img class="linkedin-icon" src="images/linkedin_icon.png" alt="Linkedin Icon" height="30" width="30">
            <a href="https://www.linkedin.com/in/domonicpacelli/">LinkedIn</a>
            <img class="github-icon" src="images/github_icon.png" alt="Github Icon" height="30" width="30">
            <a href="https://github.com/pacellidomonic">Github</a>
        </div>
    </footer>
    </main>
</div>
