@page "/about"

<head>
    <!--stylesheets-->
    <link rel="stylesheet" href="css/about.css"/>
    <link href="css/googlefonts.css" rel="stylesheet"/>

    <!--Intro-->
    <h1 class="title">About</h1>
    <div class="about-info">
        <h1>I'm an Analyst</h1>
            <p>With a curiosity for all types of data to drive business decisions, I am an aspiring data analyst seeking 
                to use my skills and experience to help organizations make better decisions. Having a collaborative mindset and a passion for learning, I seek out opportunities to enhance 
                my skill set in order to create a meaningful impact in my professional endeavors. My areas of interest are Data Analytics, Data Visualization and Web Development.</p>
    </div>   
</head>

<!--Body-->
<body> 
    <div class="extra-info">
    <h2>Where I've Been</h2>
        <p>I'm from a small town located in Maine, I attended the University of Maine for a Bachelors in Computer Science. As of 2023, I relocated to Denver, Colorado.</p>
    <h2>What I'm Doing</h2>
        <p>I am always looking to improve my credentials. One of the ways I like to learn is by enrolling myself in online courses on platforms such as Coursera and Udemy.
            Through these courses, I have expanded my knowledge and skills in a variety of areas, with a particular focus on data visualization and statistical analysis.  
            I am optimistic that the skills I learn from the courses will open up opportunities for me in the field of Data Analytics.</p>
        <p>I am currently working towards recieving the <span><a style="text-decoration: none;" href="https://www.coursera.org/professional-certificates/google-data-analytics?utm_medium=sem&utm_source=gg&utm_campaign=B2C_NAMER_google-data-analytics_google_FTCOF_professional-certificates_country-US&campaignid=12504215975&adgroupid=149456125571&device=c&keyword=&matchtype=&network=g&devicemodel=&adposition=&creativeid=636646870538&hide_mobile_promo&gclid=Cj0KCQiApKagBhC1ARIsAFc7Mc4DQFTLEwjXgFjtq_b0_StE8j8jYERXd6Asv7vNBnzY5fT8BtVR2UwaAvWJEALw_wcB">Google Data Analytics Professional </a></span>certification.</p>
    <h2>Other interests</h2>
        <p>I have several hobbies that I am passionate about, including playing chess, guitar, skiing, and cooking. Among them, these four hobbies are my favorites, and I dedicate a considerable amount of time to pursuing them.</p>
    <h2>Contact</h2>
        <p>Please feel free to contact me through email <span><a class="email-link" href="mailto:domonic.pacelli@outlook.com">domonic.pacelli@outlook.com</a></span>.</p>
    </div>
</body>
