@page "/about"

<head>
    <link rel="stylesheet" href="css/about.css"/>
    <h1 class="title">About</h1>
    <div class="about-info">
        <p>Hi, my name is Domonic Pacelli and I am pleased to welcome you to my website. Here, you will find a collection of projects that I have completed, showcased in my portfolio. 
            My areas of interest are <span class="colored-text">Data Analytics</span>, <span class="colored-text">Data Visualization </span>and <span class="colored-text">Web Development</span>.</p>
        <h2>Background</h2>
            <p>I have a background in Computer Science and experience using PowerBi, SQL, Python to create data projects, 
                I have have developed a strong foundation in data analysis and visualization.</p>
            <p>I am from Maine and moved to Colorado in 2023.</p>
            <div class="bubbles">
                <div class=bubble-left-top>
                    <img class="python-icon" src="images/python_icon.png" alt="Python Icon">
                    <p class="bubble-name">Python</p>
                    <p>Pandas, Numpy</p>
                </div>
                <div class=bubble-center-top>
                    <img class="sql-icon" src="images/mysql_icon.png" alt="SQL Icon">
                    <p class="bubble-name">mySQL</p>
                    <p>Queries, SSMS</p>
                </div>
                <div class=bubble-right-top>
                    <img class="powerbi-icon" src="images/powerbi_icon.png" alt="PowerBi Icon">
                    <p class="bubble-name">PowerBi</p>
                    <p>Dashboards, DAX</p>
                </div>
                <div class=bubble-bottom-left>
                    <img class="webdev-icon" src="images/webdev_icon.png" alt="WebDev Icon">
                    <p class="no-margin">Web</p><p class="bubble-name">Development</p>
                    <p>.NET, HTML, CSS, C#</p>
                </div>
            </div>
            <p>With a curiosity for all types of data to drive business decisions, I am an aspiring data analyst seeking 
                to use my skills and experience to help organizations make better decisions. Having a collaborative mindset and a passion for learning, I seek out opportunities to enhance 
                my skill set in order to create a meaningful impact in my professional endeavors.</p>
    </div>
</head>

<body> 
    <h2>Improving My Craft</h2>
        <p>I am always looking to improve my credentials. I study online courses regarding Data Analytics on Coursera and Udemy. 
            As well as working towards recieving certifications in the field.</p>
    
    <h2>Other interests</h2>
        <p>I have interests in many hobbies, the best which include: Chess, Guitar, Skiing and Cooking.</p>
    <h2>Contact</h2>
        <p>Please feel free to contact me through email <span><a class="email-link" href="mailto:domonic.pacelli@outlook.com">domonic.pacelli@outlook.com</a></span>.</p>
</body>
