@page "/cv"

<head>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/cv.css"/>
    <link href="css/googlefonts.css" rel="stylesheet"/>

    <h1 class="title">Curriculum Vitae</h1>
</head>

<body>
    <div class="resume-container">
        <h2>Eduaction</h2>
            <p class="company-name">University of Maine, Orono, ME</p>
            <p>Bachelors of Science in Computer Science, Dec 2022</p>
            
       
        <h2>Technical Tools & Skills</h2>
            <ul>
                <li>Tools: MySQL Server, Python (Pandas, Numpy), PowerBi, HTML, CSS, C#, ASP.NET, Windows, Linux, Excel and other Microsoft Office tools.</li>
                <li>Skills: Data Cleaning, Data Analysis, Data Visualization, Dashboard Design, Web Development, Communication and Collaboration</li>
            </ul>
        <h2>Professional Experience</h2>
            <p class="company-name">Scientific Games</p>
            <p class="job-title">Data Operations Specialist</p>
            <p>Aug 2022 – Feb 2023, Gardiner, ME</p>
            <ul>
                <li>Monitor 1,400 Maine lottery vendor systems through Astea and GMS in order to prevent, identify and resolve operational issues.</li>
                <li>Responsible for ensuring that a team of operators performs time-critical lottery schedules by providing clear guidelines and instructions.</li>
                <li>Run SQL queries daily to validate that all lottery information has been replicated from the primary database to the backup database.</li>
                <li>Prepare confidential liability reports after each lottery draw for management to review using Microsoft Access and Excel spreadsheets.</li>
                <li>Provide daily, weekly and monthly retailer activity summaries for businesses involved with Scientific Games’ lottery game system.</li>
            </ul>

            <p class="company-name">ADT</p>
            <p class="job-title">Security Service Technician</p>
            <p>Jul 2021 – Jan 2022, Portland, ME</p>
            <ul>
                <li>Performed installation, activation, and enhancement of a large array of equipment including cameras, security hardware, IoTs and SmartHome devices.</li>
                <li>Organized and utilized equipment and technical resources to ensure efficient execution of assigned tasks, allowing me to cover 90% of the State of Maine area.</li>
                <li>Provided consultation and assessment that are tailored to the customers' security needs.</li>
            </ul>

            <p class="company-name">AutoZone</p>
            <p class="job-title">Sales Manager</p>
            <p>Sep 2020 – Jun 2021, Augusta, ME</p>
            <ul>
                <li>Diagnosed automobile problems and recommended solutions to customers and local businesses, increasing the likelihood of the customer making a purchase by 70%.</li>
                <li>Coordinated with other employees to provide assistance to customers when they had difficulties finding an item or waiting in line.</li>
                <li>Trained new employees based on AutoZone’s standards to maintain consistent customer service, store appearance and merchandising standards.</li>
            </ul>

        <h2>Projects</h2>
            <p class="company-name">Analyze Spotify Playlist</p>
            <p class="job-title">Python, SQL, PowerBi</p>
            <p>Dec 2022</p>
            <ul>
                <li>Developed a Python application to connect to Spotify's API and collect data using Pandas.</li>
                <li>Utilized SSMS to export the Spotify playlist data to a local database.</li>
                <li>Created visualizations, performed analysis and generated findings using Power BI for the Spotify playlist database.</li>
            </ul>

            <p class="company-name">Data Visualization Web Application (forEST App)</p>
            <p class="job-title">JavaScript, Python, Flask</p>
            <p>Sep 2020 – May 2021</p>
            <ul>
                <li>Collaborated with the Center for Research on Sustainable Forests, where I developed tools for their forEST App to monitor spruce budworm outbreaks in Maine.</li>
                <li>Implemented four user tools, including one temporal slider that visualizes the forest's changes over a period of time.</li>
                <li>Worked in a Scrum, Waterfall and Test-Driven Development environment using the V-Method.</li>
                <li>Wrote and translated user stories into use cases using requirements retrieved from the clients.</li>
            </ul>
        <a class="resume-button" href="files/DomonicPacelli_Resume2023.docx.pdf" download>
            <button>Download Resume</button>
        </a>
    </div>
</body>
