@page "/"
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime

<head>
    <link rel="stylesheet" href="css/style.css"/>
    <div class="header-container">
        <h1 class="title">Portfolio</h1>
        <h1 class="header-text">Welcome to my portfolio website!</h1> 
    </div>
</head>
    
<body>
    <div class="main-content">
        <p>Some recent projects I have worked on.</p>
    </div>
</body>
