@page "/"
@using Microsoft.AspNetCore.Components.Web

<head>
    <!--Stylesheets-->
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/googlefonts.css" rel="stylesheet"/>

    <div class="header-container">
        <h1 class="title">Portfolio</h1>
    </div>
        <!--bubbles-->        
        <div class="bubbles">
            <div class=bubble-left-top>
                <img class="python-icon" src="images/icons/python_icon.png" alt="Python Icon">
                <p class="bubble-name">Python</p>
                <p>I utilize two key Python libraries, Pandas and NumPy, to comprehend and clean data. 
                    These libraries enable me to efficiently analyze and manipulate data, ensuring that the data is ready for visualization.</p>
            </div>
            <div class=bubble-center-top>
                <img class="sql-icon" src="images/icons/mysql_icon.png" alt="SQL Icon">
                <p class="bubble-name">mySQL</p>
                <p>By leveraging my SQL skills, I aim to develop queries and ETL processes that smoothes the way for the extraction and transformation of data for visualization purposes.</p>
            </div>
            <div class=bubble-right-top>
                <img class="powerbi-icon" src="images/icons/powerbi_icon.png" alt="PowerBi Icon">
                <p class="bubble-name">PowerBi</p>
                <p>My tool of choice for creating data visualization dashboards is Power BI. 
                    To further enhance the visualizations, I utilize the DAX language to create custom measures based on the data. 
                    These measures can then be integrated into the visualizations, which can be styled according to my preferences.</p>
            </div>
            <div class=bubble-bottom-left>
                <img class="webdev-icon" src="images/icons/webdev_icon.png" alt="WebDev Icon">
                <p class="no-margin">Web</p><p class="bubble-name">Development</p>
                <p>My goal as a front-end web developer is to ensure that users enjoy using the website and finding it easy to navigate.</p>
            </div>
        </div>
</head>
    
<body>
    <div class="main-content">
        <h1>Some recent projects I have worked on.</h1>
        <h2>Project 1</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur."</p>
            <div class="project-image">
                <img src="images/domonic.jpg">
            </div>
        <h2>Project 2</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur."</p>
            <div class="project-image">
                <img src="images/domonic.jpg">
            </div>
        <h2>Project 3</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur."</p>
            <div class="project-image">
                <img src="images/domonic.jpg">
            </div>
    </div>
</body>
