@page "/projects"

<head>
    <link rel="stylesheet" href="css/project.css"/>
    <h1 class="title">Projects</h1>
</head>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Analyze Spotify Playlist</td>
            <td>Connects to the Spotify API using Python Pandas and Numpy. Spotify song data is collected through a single playlist-link input by the user and inserted into a dataframe. 
                The data is then cleaned and exported to SQL using Python SQLAlchemy, then imported to PowerBi for analytics.</td>
            <td>12/08/22</td>
            <td><a href="https://github.com/pacellidomonic/Spotify-Playlist-Analysis">https://github.com/pacellidomonic/Spotify-Playlist-Analysis</a></td>
        </tr>
        <tr>
            <td>Portfolio Website</td>
            <td>Portfolio site built on Blazor, an experimental .NET web framework using C#/Razor and HTML that runs in the browser with WebAssembly</td>
            <td>03/06/23</td>
            <td><a href="https://github.com/pacellidomonic/Portfolio-Website">https://github.com/pacellidomonic/Portfolio-Website</a></td>
        </tr>
    </tbody>
</table>
